#creation-status, #execution-status {
    margin: 20px 0;
}

#creation-status.error, #execution-status.error {
    color: red;
}

a.nav-link:hover  {
    color: #8d8d8d
}

.footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

footer.light {
    background: #f8f9fa;
}

label.left {
    float: left;
}

/*	LOGIN FORM CSS STYLE	*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .bottom {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
  
.btn span.fa {
    opacity: 0;
    visibility: hidden;
}

.btn.active span.fa {
    opacity: 1;
}

.btn.active {
    background-color: #2fe959;
}

.hide-cb {
    opacity: 0;
    z-index: -1;
    width: 0;
    position: absolute;
}

.lightbox-uebersicht {
    background: #fff;
    padding: 30px;
}

.selected {

}

/* EMPLOYEE/VIEW */

.negative {
    color: red;
}

.btn {
    border-radius: 2em;
}

table#annual td {
    white-space: nowrap;
}

table#project-info td {
    border-left: 1px solid;
    padding: 10px;
}

i.req {
  color:red;
  font-weight: bolder;
}

div#execution-status {
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 1000;
}